<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
    <nav class="nnavbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="https://image.flaticon.com/icons/svg/1696/1696711.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
            Inicio
        </a>
        <a class="navbar-brand" href="alumnos/index">
            <img src="https://image.flaticon.com/icons/svg/1696/1696686.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
            Alumnos
        </a>
        <a class="navbar-brand" href="materias/index">
            <img src="https://image.flaticon.com/icons/svg/1696/1696699.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
            Materias
        </a>
        <a class="navbar-brand" href="registros/index">
            <img src="https://image.flaticon.com/icons/svg/1696/1696690.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
            Registros
        </a>
        <a class="navbar-brand" href="calificaciones/index">
            <img src="https://image.flaticon.com/icons/svg/1696/1696695.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
            Calificaciones
        </a>
    </nav>
    </div>
    <div class="card-group">
            <div class="card">
                <a href="alumnos/index"><img src="https://i.ibb.co/5Thn59v/Web-1920-1.png" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">¿Que es?</h5>
                <p class="card-text">n es te menu podras consultar la informacion de los alumnos, como tambien poder registrar, editar y eliminar del sistema.</p>
              </div>
            </div>

            <div class="card">
                <a href="materias/index"><img src="https://i.ibb.co/BtvBBs7/Web-1920-1.png" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">¿Que es?</h5>
                <p class="card-text">En el menu materias podras consultar las materias registradas, como tambien podras consultar su informacion, editar y eliminar.</p>
              </div>
            </div>

            <div class="card">
                <a href="registros/index"><img src="https://i.ibb.co/zsSzBtB/Web-1920-1.png" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">¿Que es?</h5>
                <p class="card-text">En este menu podras consultar el registro que hay entre alumnos y materias, puedes editar y eliminar.</p>
              </div>
            </div>

            <div class="card">
                <a href="calificaciones/index"><img src="https://i.ibb.co/gzgXkMn/Web-1920-1.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">¿Que es?</h5>
                    <p class="card-text">En este menu puedes registrar calificacion de los alumnos dependiendo de la materia especifica, puedes editar y eliminar.</p>
                </div>
            </div>
    </div>
</body>
</html>